.pokedex {
  width: 100%;
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 4em;
  padding-bottom: 3em;
}

.pokedex-header {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1.8em;
}

.header-container_img {
  width: 300px;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.title-nameUser {
  text-align: center;
  color: #17181c;
  font-size: 2em;
}

.title-nameUser b {
  color: #fa4753;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.container-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5em;
}

@media screen and (min-width: 768px) {
  .pokedex {
    padding: 1em 3em;
  }

  .title-nameUser {
    width: 80%;
    margin: auto;
    font-size: 2.3em;
  }

  .header-container_img {
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .pokedex {
    padding: 1.5em 5em;
  }

  .header-container_img {
    width: 500px;
  }

  .title-nameUser {
    width: 70%;
  }
}
