.card-pokemon {
  width: min(100%, 300px);
  border-radius: 8px;
  cursor: pointer;
}

.container-img-pokemon {
  width: 100%;
  height: 200px;
}

.pokemon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(3px 3px 8px #eaebed);
  padding: 0 0 2em 0;
}

.pokemon-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
}

.pokemon-text hr {
  width: 100%;
}

.pokemon-text span {
  text-align: center;
  color: #9ca3af;
}

.pokemon-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  padding-bottom: 0.5em;
}

.pokemon-name h3 {
  font-weight: 800;
}

.pokemon-name span {
  color: #9ca3af;
  font-size: 0.9em;
  text-transform: uppercase;
}

.pokemon-name p {
  text-transform: uppercase;
  color: #0a0a0a;
}

.container-characteristics {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  row-gap: 10px;
  padding-top: 0.5em;

  background-color: #ffff;
}

.characteristics-item {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.3em;
}

.characteristics-item b {
  font-weight: 500;
  color: #0a0a0a;
}

.background-blue {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
  border: 5px solid #454aa8;
}

.pokemon-name .color-blue {
  color: #454aa8;
}

.container-characteristics .color-blue {
  color: #454aa8;
}

.background-black {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
  border: 5px solid #030706;
}

.pokemon-name .color-black {
  color: #030706;
}

.container-characteristics .color-black {
  color: #030706;
}

.background-green {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
  border: 5px solid #abdac6;
}

.pokemon-name .color-green {
  color: #abdac6;
}

.container-characteristics .color-green {
  color: #abdac6;
}

.background-brown {
  background: linear-gradient(
    176.83deg,
    #7b3c2c -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
  border: 5px solid #894a3a;
}

.pokemon-name .color-brown {
  color: #732b19;
}

.container-characteristics .color-brown {
  color: #732b19;
}

.background-gray {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
  border: 5px solid #8d8d94;
}

.pokemon-name .color-gray {
  color: #7e7e7e;
}

.container-characteristics .color-gray {
  color: #7e7e7e;
}

.background-pink {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
  border: 5px solid #c23867;
}

.pokemon-name .color-pink {
  color: #c23867;
}

.container-characteristics .color-pink {
  color: #c23867;
}

.background-purple {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
  border: 5px solid #a564e3;
}

.pokemon-name .color-purple {
  color: #5b3184;
}

.container-characteristics .color-purple {
  color: #5b3184;
}

.background-red {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
  border: 5px solid #e35825;
}

.pokemon-name .color-red {
  color: #e35825;
}

.container-characteristics .color-red {
  color: #e35825;
}

.background-white {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
  border: 5px solid #728881;
}

.pokemon-name .color-white {
  color: #728881;
}

.container-characteristics .color-white {
  color: #728881;
}

.background-yellow {
  background: linear-gradient(
    179.75deg,
    #ed9511 -19.96%,
    #ba750e 43.67%,
    #ef9206 138.4%
  );
  border: 5px solid #895c1a;
}

.pokemon-name .color-yellow {
  color: #ef9206;
}

.container-characteristics .color-yellow {
  color: #ef9206;
}
