.raiz{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../../assets/imgs/fondo-pokeball2.webp');

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 80%;
    padding: 20px;
    margin-bottom: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-color: #17181cdd;
    border-radius: 5px;
    color: #EAEBED;
}

.form-text h2 {
    font-weight: 800;
}

.form-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label{
    font-weight: 400;
}

.form-input{
    border: none;
    outline: none;
    width: 70%;
    padding: 5px 0;
    border-radius: 3px;
    background-color: #EAEBED;
    color: #17181C;
    caret-color: #FCD037;
}

.form-btn{
    border: none;
    width: 30%;
    padding: 5px 0;
    border-radius: 3px;
    color: #17181C;
    background-color: #EAEBED;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms;
}

.form-btn:hover{
    background-color: #FA4753;
    color: #EAEBED;
    transition: 200ms;
    box-shadow: 0 1px 8px #EAEBED;
}


@media screen and (min-width: 480px){

    .form{
        width: 70%;
    }

    .form-text h2 {
        font-size: 2em;
    }

    .form-input{
        width: 50%;
    }

    .form-label{
        font-size: 1.5em;
    }

    .form-input{
        width: 50%;
    }

    .form-btn{
        width: 20%;
    }
    
}

@media screen and (min-width: 768px){
    .form{
        width: 60%;
    }

    .form-btn{
        width: 20%;
        font-size: 1.3em;
    }

    
    .form-input{
        width: 60%;
    }

}

@media screen and (min-width: 1000px){
    .form{
        width: 30%;
    }
}