.header {
  position: relative;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 1.5em;
}

.nav {
  width: 100%;
  display: grid;
  place-items: center;
  background: transparent;
}

.nav h2 {
  font-family: "MiFuente", sans-serif;
  font-size: 2.5em;
}
