.card-pokemonId{
    padding: 10px;
    width: min(100%, 500px);
    display: flex;
    flex-direction: column;
    border: 1px solid #17181c41;
}

.pokemonId-figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.pokemonId-img{
    width: 170px;
    margin-top: -80px;
}

.pokemonId-id{
    margin-top: 0.7em;
    padding: 5px 10px;
    border: 1px solid #17181c75;
    color: #17181C;
}

.container-name{
    padding-top: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-name hr {
    width: 50%;
    height: 0;
    margin: 0;
}

/* contenedor de peso y altura */
.pokemonId-data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-data{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4em;
}

.data-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-item span{
    color: #17181ca7;
    font-size: 0.8em;
}

.data-item p {
    color: #17181C;
    font-weight: 700;
    font-size: 1.3em;
}

.section-types-hability{
    padding-top: 1em;
    bottom: -60px;
    display: flex;
    justify-content: center;

}

.container-types-hability{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1em;

    flex-wrap: wrap;
}

.type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type span {
    font-weight: 700;
    color: #17181C;
    padding-bottom: 3px;
}

.types-text-type, .types-text-skill{
    display: flex;
    gap: 3px;
}

.types-text-type p:nth-child(1){
    border: 1px solid #17181C;
    padding: 0px 6px 3px 6px;
    background-color: rgba(0, 255, 170, 0.761);
    color: #17181C;
}

.types-text-type p:nth-child(2){
    border: 1px solid #17181C;
    padding: 0px 6px 3px 6px;
    background-color: #7c42f2ea;
    color: #EAEBED;
}

.types-text-skill p:nth-child(1){
    border: 1px solid #17181C;
    padding: 0px 6px 3px 6px;
}

.types-text-skill p:nth-child(2){
    border: 1px solid #17181C;
    padding: 0px 6px 3px 6px;
}


.section-stats{
    width: 100%;
    padding-top: 1em;
}

.container-stats-items{
    width: 100%;
    padding: 2px 0;
}

.stats-text{
    padding-bottom: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}